extends layout

block content
    if asana
        h1 namaste enjoy the #{asana.name}!
        p Here are your full details:
        pre= JSON.stringify(asana, null, 2)
    else
        h1 There's no such asana!
    script.
        console.log(!{JSON.stringify(asana)})
