extends layout

block content
    if meditation
        h1 Hello #{meditation.name}!
        p Here are your full details:
        pre= JSON.stringify(meditation, null, 2)
    else
        h1 There's no such meditation!
    script.
        console.log(!{JSON.stringify(meditation)})
