extends layout

block content
    if yogaset
        h1 Hello #{yogaset.name}!
        p Here are your full details:
        pre= JSON.stringify(yogaset, null, 2)
    else
        h1 There's no such yogaset!
    script.
        console.log(!{JSON.stringify(yogaset)})
