Asana = class {
	constructor(name, time, beginner) {
		this.name = (name);
		this.time = (time);
		this.beginner = (beginner);
      
	}
}

// new class is Asana, with name, time & beginner

Pranayama = class {
	constructor(name, time, beginner) {
		this.name = (name);
		this.time = (time);
		this.beginner = (beginner);
      
	}
}

// new class is Pranayama, with name, time & beginner

Meditation = class {
	constructor(name, time, beginner) {
		this.name = (name);
		this.time = (time);
		this.beginner = (beginner);
      
	}
}

// new class is Pranayama, with name, time & beginner


var Asana1 = new Asana ('Surya Namaskar', '3 minute', 'yes')

var Asana2 = new Asana ('Bow Pose', '1 minute', 'yes')

const Asana3 = new Asana ('Boat', '1 minute', 'yes')

var Pranayama1 = new Pranayama ('SaTaNaMa', '1 minute', 'yes')

const Pranayama2 = new Pranayama ('Chandra Pran', '5 minute', 'yes')

var Meditation1 = new Meditation ('SaTaNaMa', '7 minute', 'yes')

var Meditation2 = new Meditation ('Gong Meditation', '11 minute', 'yes')

const Meditation3 = new Meditation ('Heart Meditation', '5 minute', 'yes')



function add (operand1, operand2 ) {
    return operand1 + operand2;
}

